<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
<<<<<<< HEAD
    <form method="post" action="/piglatinize">
      <p>Enter your phrase:</p>
      <textarea name="user_phrase"></textarea>
=======
    <form method="post" action="/latinize">
      <p>Input the text you want latinized here:</p>
      <textarea name="user_text"></textarea>
>>>>>>> cfa86879e75715cd5d2156d5b0642b8626de73dd
      <br>
      <button type="submit" value="submit">Submit</button>
    </form>
  </body>
</html>